<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div class="overview">
                <h2 class="text-center"> Entrer la description du service</h2>
                <br />
            <div class="new-gig-card">
                <form method="post">
                    <div class="form-group">
                        <label>Titre du service</label>
                        <input type="text" class="form-control" placeholder="je peux faire..." name="gig_title">
                    </div>

                    <div class="form-group">
                        <label>Prix du service</label>
                        <input type="text" class="form-control" placeholder="3€" name="gig_price">
                    </div>

                    <div class="form-group">
                        <label>Category du service</label>
                        <select class="form-control" name="gig_category">
                            <option>Programmation</option>
                            <option>Site Web</option>
                            <option>Designe</option>
                            <option>Marketing</option>
                        </select>
                    </div>

                     <div class="form-group input-group-lg">
                        <label>Description du service</label>
                        <input type="text" class="form-control" placeholder="Décriver votre service" name="gig_about">
                    </div>

                    <button type="submit" class="btn btn-success btn-lg">Envoyer</button>
                    </form>
                </div>
             </div>
        </div>
    </div>
</div>
